.button {
    text-decoration: none;
    background: transparent;
    border: medium none;
    margin: 0;
    box-sizing: border-box;
    outline: medium none;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    composes: p-4 from global;
}
.active {
    color: #F2F2F3;
}
.inactive  {
    color: #8585AD;
}
.title {
    text-indent: 36px;
    white-space: nowrap;
    composes: text text_type_main-default from global;
}
.icon {
    left: 20px;
    top: 50%;
    margin: -13px 0 0 0;
    position: absolute;
}