.constructor {
    composes: mt-15 p-5 from global;
    width: 53%;
}
.wrapper {
    composes: mb-4 pr-4 from global;
    display: flex;
    justify-content: flex-end;
}
.ingredients {
    composes: mb-4 custom-scroll from global;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 463px;
    overflow-y: auto;
    overflow-x: hidden;
}
.total {
    composes: pr-4 pt-6 from global;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.price {
    composes: pr-10 from global;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.price span svg {
    width: 36px;
    height: 36px;
}
.default_element {
    display: flex;
    justify-content: flex-end;
}
.default_constructor {
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop_block {
    outline: 2px dashed transparent;
    transition: outline-color 0.3s ease;
}