.order {
    composes: p-5 from global;
    margin: 0 auto;
    width: 640px;
    max-width: 100%;
}
.num {
    text-align: center;
}
.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: space-between;
    align-items: center;
}
.done {
    color: #00CCCC;
}
.date {
    padding: 0 8px;
}
.price {
    padding: 0 8px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.list {
    composes: custom-scroll from global;
    max-height: 368px;
    overflow-y: auto;
    overflow-x: hidden;
}
.item {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    justify-content: space-between;
}
.item_block {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
}
.order_ingredient {
    position: relative;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    background: linear-gradient(#110000,#110000) padding-box,linear-gradient(45deg,#801AB2,#4C4CFF) border-box;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
}
.order_ingredient_image {
    width: 62px;
    height: 62px;
    object-fit: cover;
}
.price_ingredient {
    white-space: nowrap;
}