.status {
    margin-bottom: 60px;
}
.status_count {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
.top {
    display: flex;
}
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.item {
    width: 50%;
}
.done {
    color: #00CCCC;
}