.modal_wrap {
    composes: p-4 from global;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    overflow-x: hidden;
    overflow-y: auto;
    composes: custom-scroll p-10 from global;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    max-height: 100%;
}
.top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 32px;
    min-height: 52px;
}
.end {
    align-items: flex-end;
}
.icon {
    position: absolute;
    right: -12px;
    top: 12px;
    bottom: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.modal_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
}