.header {
    composes: pb-3 pt-3 from global;
    background: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -145px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 -4px;
}